.room{
    background-color: black;
    color:white;
    width:200px;
    height:200px;
    border:1px solid black;
    position:relative;
}

.heightBox{
    width:200px;
    background-color: blue;
   
}
.room1{
    background-color: crimson;
    color:white;
    width:200px;
    height:200px;
    border:1px solid crimson;
   
}
.fly{
    background-color:darkcyan;
    padding:1% 2%;
    width:96%;
    margin-bottom:10px;
    color:white;
}