<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Todo List</h2>

            <div class="form-group mt-4">
                <div class="input-group-prepend">
                    <input type="text" #todo class="form-control mr-2" placeholder="Add Todo" name="todo" ngModel>
                    <span><button type="button" class="btn btn-success"
                            (click)="addTodo(todo.value)">Add</button></span>
                </div>
            </div>
            <div>
                <ul class="list-unstyled list-group">
                    <li class="list-group-item" *ngFor="let t of todoArray">{{t}}
                        <span (click)="delete(t)" class="close">&times;</span>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>